@import '../../index.scss';

.apartment {
    background: $mainBlue;
    border-radius: 0.8rem;
    margin:1rem 0;
    img{
        width: 100%;
        border-top-left-radius:0.8rem ;
        border-top-right-radius: 0.8rem;
        display: block;
    }
}
.img-container {
    position: relative;
}
.close-btn {
    position: absolute;
    display: block;
    top:5%;
    right:5%;
    color:$mainBlack;
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.3s linear;
    opacity:0;
}
.img-container:hover .close-btn {
    opacity: 1;
}
.price-top{
position: absolute;
top: 0;
left: 0;
background: rgba(143, 142, 211, 0.8);
color: var(--$mainBlue);
padding: 0.1rem 0.3rem 0.3rem;
border-bottom-right-radius: 1rem;
font-size: 0.7rem;
text-align: center;
transition: var(--mainTransition)
}
.price-top h6 {
margin-bottom: 0;
font-size: 0.9rem;
font-weight: 300;
letter-spacing: var(--mainSpacing);
}
.apartment-info {
    padding: 1rem 0.5rem;
}
h3 {
    text-transform: uppercase;
    color: $mainDark;
}
h4 {
    text-transform: capitalize;
    color: $mainDark;
    margin: 0.2rem 0 0.6rem 0;
}
h5 {
    text-transform: capitalize;
    span {
        color:$mainGrey;
        margin:0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
    }
}